.aboutDiv {
    color: white;
    background: url("../images/movie.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    min-height: 100vh;
}

.abtImg {
    max-width: 100%;
    border-radius: 50%;
}

.aboutTitle {
    text-align: center;
    margin-top: 25px;
    text-transform: capitalize;
    font-family: CooperLight;
    font-size: 48px;
}

.titleContainer {
    width: 100%;
}

.aboutImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}