.contactDiv {
    font-family: CooperLight;
    color: white;
    background: url("../images/contactbackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contactDivContainer {
    width: 100%;
}

.contactContent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formContainer {
    font-family: CooperBook;
    color: white;
    background-color: black;
    opacity: .7;
    padding: 20px;
    width: 70vw;
}

.form-group label {
    width: 100%;
}

.emailButton {
    background: none;
    color: white;
    border: 2px white solid;
}
.email {
    color: white;
}

.tel {
    color: white;
}

.email:hover{
    text-decoration: none;
    color: dodgerblue;
}

.tel:hover{
    text-decoration: none;
    color: dodgerblue;
}
.emailButton:hover {
    transition: ease-in-out .2s;
    background-color: white;
    color: dodgerblue;
}

.emailButtonA {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
    .aboutDiv {
        background-image: url("../images/contactmobile.jpg");
    }
}