.navbar{
    display: flex;
    justify-content: center;
    min-height: 60px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: lightgrey;
}
.footContainer { 
    display: inline; 
    background-color: black;
}


.icons { 
    float: right;
    font-size: 1.5em; 
    margin-left: 5px; 
    margin-right: 5px;
}

.credits { 
    float: left;
    color: white; 
}

.contentContainer { 
    margin-top: 50px;
}