@font-face {
    font-family: CooperBold;
    src: url("../fonts/CooperHewitt-Bold.otf") format("opentype");
}

@font-face {
    font-family: CooperBook;
    src: url("../fonts/CooperHewitt-Book.otf") format("opentype");
}

@font-face {
    font-family: CooperLight;
    src: url("../fonts/CooperHewitt-Light.otf") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

.navbar{
    display: flex;
    justify-content: center;
    min-height: 60px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: lightgrey;
    font-family: CooperBook;
}
.footContainer { 
    display: inline; 
    background-color: black;
}


.icons { 
    float: right;
    font-size: 1.5em; 
    margin-left: 5px; 
    margin-right: 5px;
}

.credits { 
    float: left;
    color: white; 
}

.contentContainer { 
    margin-top: 50px;
}