.workDiv {
    font-family: CooperLight;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.photoContainer {
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

.photoContainer img {
    /* Just in case there are inline attributes */
    opacity: 1;
    width: 100% !important;
    height: auto !important;
}

.photoContainer img:hover{
    opacity: .8;
}

.reels {
    margin-top: 20px;
    text-align: center;
}

.reels h3{
    font-size: 36px;
}

.subhead {
    font-family: CooperBook;
}

@media (max-width: 1200px) {
    .photoContainer {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .photoContainer {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .photoContainer {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .photoContainer {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}