.aboutContainer {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    background-image: url("../images/nyc.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.aboutmetitle {
    font-family: "bebas-neue";
    font-size: 64px;
}

.textContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    border: white 2px solid;
    color: white;
    background-color: black;
    opacity: .7;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .aboutContainer {
        background-image: url("../images/nycmobile.jpg");
        background-attachment: scroll;
    }
}