@font-face {
    font-family: bebas-neue;
    src: url("../fonts/bebasneue.ttf");
}

body {
    max-width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.container {
    padding-top: 50px;
}

.footContainer {
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.navbar-nav {
    height: 100%;
}
.navbar-nav li {
    height: 100%;
}
.designed {
    color: dimgrey;
    margin-right: 20px;
}

.designed a {
    color: dimgrey;
}

.carousel-item + .carousel-item + .nyPost{
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
.footContainer {
    height: auto;
    font-size: 42px;
}
    nav {
        height: 100px;
        font-size: 42px;
    }
    .navbar-nav {
        margin-top: 20px;
    }
}
