.printContainer {
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.printtitle {
    font-family: "bebas-neue";
    font-size: 64px;
}

.vice-text {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.articleTitle{
    color: black;
}

.articleTitle:hover {
    color: red;
}

.nyPostTitle {
    color: red;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.viceTitle {
    color: red;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.vice {
    text-align: center;
    display: flex;
/*    justify-content: center;*/
    align-content: center;
    flex-wrap: wrap;
}

.viceImg {
    height: 300px;
}