<footer>
    <div class="footContainer container-fluid fixed-bottom">
        <div class='credits'>Created by <a href="midtowndev.io">Midtown Dev Shop</a></div>
        
        <!-- media icons -->
        <div class="icons">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com/MidtownDevShop"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="http://www.imdb.com/name/nm5314753/"><i class="fa fa-imdb" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
