.flex-nav{ 
    display: inline; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 20px;
    list-style: none;
}

.flex-nav a{
       color: #ff5c5c;
}

.nav-bar { 
    margin-top: 30px;
}

.footContainer{
    position: absolute;
    color: white;
    background-color: black;
    width: 100%;
    height:  50px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.mainFoot i{
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

.navLogo{
    height: 50px;
}