@font-face {
    font-family: bebas-neue;
    src: url("../fonts/bebasneue.ttf");
}

body { 
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.container {
    padding-top: 50px;
}