.printContainer {
    color: black;
    background-image: url("../images/nyc.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.printtitle {
    font-family: "bebas-neue";
    font-size: 64px;
}

.vice-text {
    margin-top: -20px;
}


.articleTitle:hover {
    font-size: 26px;
    color: red;
}