.printContainer{
    background-image: url("../images/paper.jpg")
}
.printtitle{
    font-family: "bebas-neue";
    font-size: 64px;
}

.articleTitle{
    color: black;
}

.articleTitle:hover{
    font-size: 26px;
    color: red;
}